// Styling for the masthead
header.masthead {
  background-color: #aaa;
  text-align: center;
  color: white;
  background-image: url('../img/main-bg-blue.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      background-image: linear-gradient(to right, #F6E10B, #CFA802);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-top: 10px;
      margin-bottom: 10px;
      @include serif-font;

    }
    .intro-heading {
      background-image: linear-gradient(to right, #F6E10B, #CFA802);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 100px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 10px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
