// Mixins
// Background Cover Mixin
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
	font-family: "Futura Bold";
	src: url("../fonts/Futura-ICG-Bold.ttf");
}

@font-face {
	font-family: "Futura Light";
	src: url("../fonts/Futura-ICG-Light.ttf");
}

// Font Mixins
@mixin serif-font {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin script-font {
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}
@mixin body-font {
  font-family: 'Futura Light', 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin heading-font {
  font-family: "Futura Bold", 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin navbar-font {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
