
#example {

    background-color: #07135f;
    h2.section-heading {
        color: white;
    }
    .viewer-container {
        padding-top: 50%;
        position: relative;
        margin: 0 20px;
        
        .viewer-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .view-more {
        color: white;
    }

}