<!-- 3d Model Viewer Example -->
<section class="bg-light">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{model.name}}</h2>
            </div>
        </div>
        <div class="row pb-5">
            <div ng-class="{'col-lg-12' : !model.colorVariations, 'col-lg-10' : model.colorVariations}">
                <div class="text-center" ng-show="showAppleArQuickLook()">
                    <a rel="ar" href="{{getUsdzFile()}}">
                        <img class="img-fluid" src="{{model.thumbnail}}">
                    </a>
                </div>
                <div class="viewer-container" ng-hide="showAppleArQuickLook()">
                    <iframe class="viewer-iframe" ng-src="{{model.claraEmbedId}}"></iframe>
                </div>
            </div>
            <div class="variations col-lg-2" ng-if="model.colorVariations">
                <h5>Color Variations</h5>
                <div class="variation" ng-repeat="colorVariation in model.colorVariations">
                    <button style="background-color:{{colorVariation.color}}" id="{{colorVariation.techName}}" ng-click="updateModel(colorVariation)"></button>
                    <label for="{{colorVariation.techName}}">{{colorVariation.displayName}}</label>
                </div>
            </div>
        </div>
    </div>
</section>