@font-face {
    font-family: "Futura Bold";
    src: url("../fonts/Futura-ICG-Bold.ttf"); 
}  

.navbar {
    background-color: #212529;
}

.navbar .navbar-logo img {
    height: 40px;
}

section h2.section-heading {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: "Futura Bold", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.viewer-container {
    padding-top: 50%;
    position: relative;
    margin: 0 20px;
}

.viewer-container .viewer-iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
}

footer {
    padding: 25px;
    text-align: center
}

footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: "Futura Bold", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
    margin-bottom: 0; 
}
ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529; 
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #147abf; 
}
  

.demo-item {
    cursor: pointer;
}

.variations > h5 {
    margin: 10px;
}

.variation {
    margin: 5px 10px;
    cursor: pointer;
}
.variation > button {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: pink;
    cursor: pointer;
}

.variation > label {
    vertical-align: middle;
    height: 30px;
    cursor: pointer;
}

.variation > button:focus {
    outline:0;
}


@media (max-width: 768px) {
    .viewer-container {
        margin: 0;
    }
}